.main-grid{
    width: 300px;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.main-grid div{
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}
