.container{
    background-image: url('../images/background.svg');
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button-container{
    width: 100%;
    justify-content: center;
    display:flex;
    margin-top: 1rem;
}
.main-grid{
    width: 20rem;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
        border-color: rgb(112,112,112);
    border-width: 1px;
    border-style: solid;
}
.score-heading{
    min-width: 100%;
    text-align: center;
}

.main-grid div{
    height: 2rem;
    width: 2rem;
    border-color: rgb(112,112,112, 0.3);
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    box-sizing: border-box;
}
.secondary-column-marker{
    position: relative; 
    width: 0; 
    height: 0;
}
.secondary-column{
    width: 8rem;
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
}
.secondary-grid-container{
    width: auto;
    margin-left: 1rem;
}
.secondary-grid-container h3{
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}
    
.secondary-grid{
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px;
    border-style: solid;
    border-color: rgb(112,112,112);
}

.secondary-grid div{
    height: 2rem;
    width: 2rem;
    border-color: rgb(112,112,112, 0.3);
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    box-sizing: border-box;
}
.secondary-column .secondary-grid-container{
    margin-top: 0.5rem;
}

.secondary-column .secondary-grid-container:first-child{
    margin-top: 0;
}
.game-logo {
    z-index: 10;
    margin-top: 1rem;
    height: 5rem;
}

/* Rollover Buttons */
.button_base {
    font-size: 1.1rem;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 3rem;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.button_rollover {
    color: rgb(112,112,112);
    border: rgb(112,112,112, 0.7) solid 1px;
    padding: 0.8rem;
    background-color: #ffffff;
}

.button_rollover:hover {
    color: #ffffff;
    background-color: rgb(212,212,212);
}

/* Button Spacing */
.button-container .button_base{
    margin-left: 0.5rem;
}

.button-container .button_base:first-child{
    margin-left: 0;
}
.button-container .button_base:last-child{
    margin-right: 0;
}

/* Starting Modal */
.modal {
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFF; /* Fallback color */
    background-color: rgba(255,255,255,0.8); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
  .modal-content {
    /* background-color: #fefefe; */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10rem 15rem;
    /* border: 1px solid #888; */
    width: fit-content; /* Could be more or less, depending on screen size */
}
.modal-content h3, .modal-content h2 {
    align-content: center;
    text-align: center;
}
.modal-content h2:first-child {
    margin-bottom: 0px;
}
.modal-content h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.modal-content input[type='text'] {
    height: 2rem;
    text-align: center;
}
#end-game-modal{
    z-index: 12;
}
/* #end-game-modal .modal-content {
    /* background-color: #FFF; 
} */
.modal-content-container{
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}
#start-game-modal .modal-content-container .button{
    margin: 0;
    margin-bottom: 0.5rem;
    width: 15rem;
    height: 5rem;
}

.display-none{
    display: none;
}
.controls-pane-marker{
    display:block;
    position: relative;
    width: 1;
    height: 1;
}
.controls-pane{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 0;
    margin-left: -16rem;
    width: 15rem;
    height: fit-content;
    border: solid 1px;
    border-color: rgb(112,112,112);
}
.controls-pane hr{
    width: 15rem;
    border-color: rgb(112,112,112);
    border-top: 1px;

}
.controls-pane h3{
    text-align: center;
    margin-bottom: 0.4rem;

}
.controls-pane ul{
    list-style-type: none;
    padding: 0;
}
.controls-pane ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.controls-pane ul li .left-item{
    text-align: center;
    margin-left: 2rem;
}
.controls-pane ul li .right-item{
    text-align: center; 
    margin-right: 2rem;
}